.App-header {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
 
}
header nav a {
    color: white;
    padding: 1em 0.5em;
   
    text-decoration: none;
}
header nav a:active {
    background-color: white;
    border-bottom: none;
    color: cadetblue;
}
header a{
    color: rgb(65, 106, 107);
    text-decoration: none;
}

main {
    padding: 1em;
}
.PlayCard {
    display: block;
    border: 2px solid cadetblue;
    padding: 1em;
    width: 30em;
    height: 30em;
    margin: 1em;
    text-align: center;
}
.PlayCard img {
    border-radius: 25%;
    max-width: 20em;
    max-height: 20em;
}
.PlayCard .left {
    flex-direction: row;
}
.Playcard .right {
    flex-direction: row;
}
.Play {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;  
}
.Battle .Play {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
    justify-content: center;
    align-items: center;
}
.Battle h1{
    color: rgb(78, 126, 128);
}
.battle-h1{
    padding-left: 45%;
    padding-right: 45%;
}
.battle-p{
    color: rgb(78, 126, 128);
    font-size: medium;
    margin-left: 45%;
}
.Battle button {
    margin-left: 45%;
    font-size: large;
    border-radius: 20em;
    padding: 1em;
    background-color: cadetblue;
    border: 2px outset darkcyan;
    max-width: 10em;
    color: white;
}
.hamsterList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;
}
.hamsterList .allHamsters {
    padding-left: 3em;
}
.ProfileCard {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid cadetblue;
    padding: 1em;
    width: 20rem;
    height: 30rem;
    margin: 1em;
    box-sizing: border-box; */
    display: block;
    margin: 0 auto;
    border: 2px solid cadetblue;
    padding: 1em;
    width: 20rem;
    height: 30rem;
    margin-bottom: 1em;

}
.ProfileCard p {
    font-size: small;
}
.ProfileCard h1 {
    font-size: medium;
    flex-wrap: wrap;
}
.ProfileCard img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 25%;
}
.hamsterForm input{
    margin: 1em;
}
.hamsterForm input.valid {
    border: 1px solid #5BBE36;
    border-radius: 2px;
}
.hamsterForm input.invalid {
    border: 1px solid #DD2626;
    border-radius: 2px;
}
.hamsterForm .error {
    color: #DD2626;
    position: absolute;
}
.hamsterForm{
    margin-left: 35%;
    color: rgb(78, 126, 128);
}

.Start h1{
    color: rgb(78, 126, 128);
}
.Start h2{
    color: rgb(78, 126, 128);
}
.Start h3{
    color: rgb(78, 126, 128);
}
.Stats h1{
    color: rgb(78, 126, 128);
}
.Stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;
}
.all-games{
    margin-left: 40%;
    color: cadetblue;
}
.games-table{
    padding: 1em;
    border: 2px solid cadetblue;
    margin: 0 auto;
}
.games-table th{
    padding: 1em;
    font-size: large;
    color: rgb(49, 79, 80);
}
.games-table tr{
    font-size: medium;
    border: 2px solid cadetblue;
}
.games-table td{
    padding: 1em;
    border: 2px solid cadetblue;
    color: rgb(49, 79, 80);
}
@media (max-width: 500px) {
    main{
        display: block;
        margin: 1em;
    }
    .hamsterList {
        display: block;
    }
    .hamsterList .allHamsters {
        padding-left: 3em;
    }
    .games-table th{
        font-size: medium;
    }
    .games-table tr{
        font-size: small;
        border: 2px solid cadetblue;
    }
    .Battle .Play {
        display: block;
    }
    .Battle button {
        margin-left: 30%;
        font-size: larger;
        border-radius: 20em;
        padding: 1em;
        background-color: cadetblue;
        border: 2px outset darkcyan;
        max-width: 20em;
        color: white;
    }
    .Battle .fight {
        margin-left: 20%;
    }
    .Play {
        margin: 0 auto;
    }
    .PlayCard {
        display: block;
        border: 2px solid cadetblue;
        padding: 1em;
        width: 15em;
        height: 15em;
        margin: 1em;
        text-align: center;
    }
    .PlayCard img {
        border-radius: 25%;
        max-width: 10em;
        max-height: 10em;
    }
    .ProfileCard {
        display: block;
        border: 2px solid cadetblue;
        padding: 1em;
        margin: 1em;
        box-sizing: border-box;
    }
    header nav a {
        color: white;
        border: 1px solid cadetblue;
        border-bottom: none;
        text-decoration: none;
    }
}