.App-header {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
 
}

header nav a {
    color: white;
    padding: 1em 0.5em;
    border: 1px solid cadetblue;
    border-bottom: none;
    text-decoration: none;
}
header nav a:active {
    background-color: white;
    border-bottom: none;
    color: cadetblue;
}
header a{
    color: rgb(65, 106, 107);
    text-decoration: none;
}



main {
    padding: 1em;
}

.winner {
    border: 5px solid green;

}
.PlayCard .left {
    flex-direction: row;
}
.Playcard .right {
    flex-direction: row;
}

.Play {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;
    
}
.PlayCard {
    display: block;
    border: 2px solid hotpink;
    padding: 1em;
    width: 30em;
    height: 30em;
    margin: 1em;
    text-align: center;
}
.PlayCard img {
    max-width: 20em;
    max-height: 20em;
}
.Battle .Play {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2em;
    justify-content: center;
    align-items: center;
}
.Battle button {
    margin-left: 45%;
    font-size: large;
    border-radius: 20em;
    padding: 1em;
    background-color: rgb(241, 68, 155);
    border: 2px outset pink;
    max-width: 10em;
    color: white;
}
.Battle .fight {
    margin-left: 40%;
}
.hamsterList {
    /* margin: 0 auto; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;
}
.hamsterList .allHamsters {
    padding-left: 3em;
}
.ProfileCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid cadetblue;
    padding: 1em;
    width: 20rem;
    height: 30rem;
    margin: 1em;
    box-sizing: border-box;
}
.ProfileCard p {
    font-size: small;
}
.ProfileCard h1 {
    font-size: medium;
    flex-wrap: wrap;
}
.ProfileCard img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 25%;
}
.hamsterForm input{
    margin: 1em;
}
.hamsterForm input.valid {
    border: 1px solid #5BBE36;
    border-radius: 2px;
}
.hamsterForm input.invalid {
    border: 1px solid #DD2626;
    border-radius: 2px;
}
.hamsterForm .error {
    color: #DD2626;
    position: absolute;
}
.Battle h1{
    color: rgb(78, 126, 128);
}
.Start h1{
    color: rgb(78, 126, 128);
}
.Start h2{
    color: rgb(78, 126, 128);
}
.Start h3{
    color: rgb(78, 126, 128);
}

.Stats h1{
    color: rgb(78, 126, 128);
}
.Stats-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;
}